<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <main>
    <div>
      <ul>
        <% for (item in urls) { %>
          <li>
          <form method='POST' action='/urls/<%= item %>/delete'>
            <%= item %> -> <a href='<%= urls[item].longURL %>' target='blank'><%= urls[item].longURL %></a>
            <a href='/urls/<%= item %>'>Edit</a>
            <button type='text'>Delete</button>
          </form>
          </li>
        <% }; %>
      </ul>
    </div>
    <div>
        <a href='/urls/new'>Create another short URL!</a>
    </div>
  </main>

</body>
</html>