<!-- short URL edit page -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:20px;">

    <% include partials/_header %>

  <main>
    <div>
      <p>Your short URL: http://localhost:8080/u/<strong><%= shortURL %></strong></p>
      <p>Currently redirects to:
        <a target="blank" href='<%= longURL %>'><%= longURL %></a>
      </p>
<!-- option to update an existing url -->
      <form method='POST' action='/urls/<%= shortURL %>/update' style="margin:20px;">
        <input type="text" name="update" placeholder='<%= longURL %>' style='width: 300px; height: 20px'>
        <button type='text'>Update</button>
      </form>
    </div>
  </main>
<!-- options to add new url or navigate back to library -->
  <div>
    <br style='font-size:30px'>
    <p><a href='/urls/new'>Add another URL</a></p>
    <p><a href='/urls'>Back to the URL library</a></p>
  </div>
</body>
</html>