<!-- urls page (aka library) -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TinyApp Index</title>
</head>

<body style="font-size:20px; padding:20px;">

  <% include partials/_header %>

  <main>
    <div>
      <p style='font-size:30px'>Your link library:</p>
<!-- listing entries for which the user have access with options to edit or delete -->
      <% for (item in urls) { %>
        <form method='POST' action='/urls/<%= item %>/delete' style="margin:20px;">
          <ul>
            <li>
              http://localhost:8080/u/<strong><%= item %></strong> is redirected to: <a href='<%= urls[item]['longURL'] %>'><%= urls[item]['longURL'] %></a>
              <a href='/urls/<%= item %>'>Edit</a>
              <button type='text'>Delete</button>
            </li>
          </ul>
        </form>
      <% } %>
    </div>
<!-- link for another entry -->
    <div>
      <br style='font-size:30px'>
      <p><a href='/urls/new'>Add new URL</a></p>
    </div>
  </main>
</body>
</html>